.interactive_map div, p, a, img  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body .interactive_map {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 30pt;
	line-height: 1;
}

.interactive_map p {
	font-size: 14pt;
	color: black;
	margin: 5px 0px 5px;
	text-align: justify;
}

#websiteWrapper {
	width:90%;
	max-width: 700px;
	margin:auto;
	padding: 20px 0px 20px;
}

#mapModule {
	margin: 50px 0px 50px;
}

#mapWrapper {
	position: relative;
	margin:auto;
	width: 700px;
}

#rsr {
	width: 700px;
	height: 470px;
	margin: auto;
}

#mapInfo {
	width: 508px;
	height: 440px;
	position:absolute;
	top: 0px;
	left: 192px;
}

#mapTitle {
	background-color: #3A647A;
	display: table;
	width: 100%;
	height: 50px;
}

#mapTitle p {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 20px;
	padding-left: 20px;
}

#mapContent {
	z-index:3;
	position: relative;
	max-height: 390px;
	overflow: auto;
}

#mapContent p {
	font-size: 18px;
	margin: 20px;
	color: #222222;
}

#whiteBackground {
	background-color: #FFFFFF;
	opacity: 0.8;
	height: 390px;
	width: 508px;
	position: absolute;
	top: 50px;
	z-index:2;
}

#mapLogo {
	position: absolute;
	z-index: 2;
}
#mapCloseButton {
	float: right;
	cursor: pointer;
	cursor: hand;
	width: 20px;
	height: 20px;
	padding: 15px;
}